@import url("../fonts/roboto/roboto.css");
@import url("../fonts/roboto-cond/roboto-cond.css");
@import url("../fonts/themify/themify.css");
@import url("../fonts/font-awesome/font-awesome.min.css");
/* Table of Contents
 * 1.0  - Setup
 * 2.0  - Canvas
 * 3.0  - Page
 * 4.0  - Overlays
 * 5.0  - Buttons
 * 6.0  - Gutters
 * 7.0  - Color classes
 * 8.0  - Gradients
 * 9.0  - Image Classes
 * 10.0 - Page Loader
 * 11.0 - Utility Classes
 * 12.0 - Misc
*/
/* 1.0 SETUP
------------------------------------------- */
html, body, #pages, .page {
  width: 100%;
  height: 100%;
}

body {
  background: #fff;
  overflow: hidden;
  font: 300 14px/1.7em "Roboto";
  color: #666;
}
@media (max-width: 767px) {
  body {
    font-size: 10px;
  }
}

h1, h2, h3 {
  color: #333;
}

a, a:hover {
  text-decoration: none;
}

.btn, .form-control {
  border-radius: 0;
  box-shadow: none;
}

/* 2. CANVAS
-------------------------------------------- */
#homeCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
}

/* 3.0 PAGE
------------------------------------------ */
.page {
  text-align: center;
  position: relative;
}
.page.outline-light, .page.outline-light.overlay:before {
  box-shadow: inset 0 0 0 12px rgba(255, 255, 255, 0.05);
}
@media (max-width: 767px) {
  .page.outline-light, .page.outline-light.overlay:before {
    box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.05);
  }
}
.page.outline-dark, .page.outline-dark.overlay:before {
  box-shadow: inset 0 0 0 12px rgba(0, 0, 0, 0.05);
}
@media (max-width: 767px) {
  .page.outline-dark, .page.outline-dark.overlay:before {
    box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.05);
  }
}
.page.outline-dark.overlay, .page .outline-light.overlay {
  box-shadow: none;
}
.page .content {
  position: relative;
  z-index: 100;
  padding: 42px;
}
@media (max-width: 767px) {
  .page .content {
    padding: 40px;
  }
}

/* 3.1 TITLE TEXT
--------------------------------------------*/
.title-text span {
  font: 400 1em/1em "Roboto Condensed";
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.2em;
  color: #fff;
}
.title-text span.top-sub {
  margin: 0 0 1em 0;
}
.title-text span.bottom-sub {
  margin: 1.5em 0 2em 0;
}
.title-text h1 {
  font: 700 5em/1em "Roboto Condensed";
  text-transform: uppercase;
  display: block;
  margin: 0;
  color: #fff;
  position: relative;
}
@media (max-width: 500px) {
  .title-text h1 {
    font-size: 4.5em;
  }
}

/* 3.2 PAGE LINK
------------------------------------------- */
.page-link {
  display: inline-block;
  margin: 2em auto;
}

.page-link span {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  line-height: 2.5em;
  width: 2.5em;
  height: 2.5em;
  position: relative;
  color: #fff;
  z-index: 2;
  border: 2px solid #fff;
  transform: rotate(45deg);
}
.page-link span.no-border {
  border: none;
}
.page-link span i {
  display: block;
  transform: rotate(-45deg);
}
.page-link span:hover {
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1%, rgba(255, 255, 255, 0.1) 100%);
}
@media (max-width: 500px) {
  .page-link span {
    font-size: 15px;
  }
}

/* 3.3 COUNTDDOWN
--------------------------------------------*/
.count-down {
  display: table;
  margin: 0 auto;
  color: #fff;
}
.count-down .count {
  display: table-cell;
  font-size: 4em;
  text-align: center;
  width: 1.5em;
  border-right: 1px dotted rgba(255, 255, 255, 0.5);
  padding: 0.2em 0;
}
.count-down .count:last-child {
  border: none;
}
.count-down .count h3, .count-down .count span {
  display: block;
  margin: 0;
}
.count-down .count h3 {
  font: 700 0.35em/1em "Roboto Condensed";
  color: #fff;
  margin: 0 0 0.5em 0;
}
.count-down .count span {
  font: 300 0.15em/1em "Roboto Condensed";
  text-transform: uppercase;
  letter-spacing: 0.2em;
  opacity: 0.5;
}
@media (max-width: 500px) {
  .count-down {
    border-spacing: 5px;
  }
  .count-down .count {
    font-size: 65px;
  }
  .count-down .count span {
    font-size: 9px;
  }
}

/* 3.4 INFO BLOCK
--------------------------------------------*/
.info-block {
  max-width: 40em;
  margin: 0 auto;
  text-align: center;
}
.info-block p {
  margin: 0 0 2em 0;
}
.info-block h2 {
  font: 700 2.5em/1em "Roboto Condensed";
  margin: 0 0 0.5em 0;
}

/* 3.5 SUBSCRIBE
--------------------------------------------*/
.row.subscribe {
  margin: 0 auto;
}

.subscribe {
  font-size: inherit;
  background: rgba(0, 0, 0, 0.05);
}
.subscribe input, .subscribe .btn {
  border-radius: 0;
  box-shadow: none;
  border: none;
  padding: 0 1em;
  line-height: 3em;
  height: 3em;
  font-size: 1em;
}
.subscribe input {
  color: #888;
  background: none;
}
.subscribe input:focus {
  box-shadow: none;
}

/* 3.6 ICON LIST
------------------------------------------- */
.icon-list {
  list-style: none;
  margin: 2em 0 0 0;
  padding: 0;
}
.icon-list > li {
  display: inline-block;
}
.icon-list > li a {
  display: block;
  font-size: 1em;
  width: 3em;
  height: 3em;
  line-height: 3em;
  text-align: center;
  border-radius: 50%;
  color: #666;
}
.icon-list > li a:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* 4.0 OVERLAYS
------------------------------------------ */
.overlay {
  position: relative;
}
.overlay:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.overlay-pat-1:before {
  background: url(../images/covers/pat.png) 0 0 repeat;
}

.overlay-pat-2:before {
  background: url(../images/covers/pat2.png) 0 0 repeat;
}

.overlay-pat-3:before {
  background: url(../images/covers/pat3.png) 0 0 repeat;
}

.overlay-pat-4:before {
  background: url(../images/covers/pat4.png) 0 0 repeat;
}

.overlay-black:before {
  background: rgba(0, 0, 0, 0.9);
}

.overlay-white:before {
  background: rgba(255, 255, 255, 0.9);
}

/* 5.0 BUTTONS
------------------------------------------- */
.btn-color {
  color: #fff;
}
.btn-color:hover {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1%, rgba(0, 0, 0, 0.1) 100%);
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #666;
}

/* 6.0 GUTTERS
------------------------------------------- */
.gutter-0 {
  margin-left: 0;
  margin-right: 0;
}

.gutter-0 > [class^=" col-"], .gutter-0 [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.gutter-10 {
  margin-left: -5px;
  margin-right: -5px;
}

.gutter-10 > [class^=" col-"], .gutter-10 [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

/* 7.0 COLOR CLASSES
----------------------------------------- */
.red-50-bg {
  background-color: #ffebee;
}

.red-50 {
  color: #ffebee;
}

.red-100-bg {
  background-color: #ffcdd2;
}

.red-100 {
  color: #ffcdd2;
}

.red-200-bg {
  background-color: #ef9a9a;
}

.red-200 {
  color: #ef9a9a;
}

.red-300-bg {
  background-color: #e57373;
}

.red-300 {
  color: #e57373;
}

.red-400-bg {
  background-color: #ef5350;
}

.red-400 {
  color: #ef5350;
}

.red-500-bg {
  background-color: #f44336;
}

.red-500 {
  color: #f44336;
}

.red-600-bg {
  background-color: #e53935;
}

.red-600 {
  color: #e53935;
}

.red-700-bg {
  background-color: #d32f2f;
}

.red-700 {
  color: #d32f2f;
}

.red-800-bg {
  background-color: #c62828;
}

.red-800 {
  color: #c62828;
}

.red-900-bg {
  background-color: #b71c1c;
}

.red-900 {
  color: #b71c1c;
}

.red-a100-bg {
  background-color: #ff8a80;
}

.red-a100 {
  color: #ff8a80;
}

.red-a200-bg {
  background-color: #ff5252;
}

.red-a200 {
  color: #ff5252;
}

.red-a400-bg {
  background-color: #ff1744;
}

.red-a400 {
  color: #ff1744;
}

.red-a700-bg {
  background-color: #d50000;
}

.red-a700 {
  color: #d50000;
}

.pink-50-bg {
  background-color: #fce4ec;
}

.pink-50 {
  color: #fce4ec;
}

.pink-100-bg {
  background-color: #f8bbd0;
}

.pink-100 {
  color: #f8bbd0;
}

.pink-200-bg {
  background-color: #f48fb1;
}

.pink-200 {
  color: #f48fb1;
}

.pink-300-bg {
  background-color: #f06292;
}

.pink-300 {
  color: #f06292;
}

.pink-400-bg {
  background-color: #ec407a;
}

.pink-400 {
  color: #ec407a;
}

.pink-500-bg {
  background-color: #e91e63;
}

.pink-500 {
  color: #e91e63;
}

.pink-600-bg {
  background-color: #d81b60;
}

.pink-600 {
  color: #d81b60;
}

.pink-700-bg {
  background-color: #c2185b;
}

.pink-700 {
  color: #c2185b;
}

.pink-800-bg {
  background-color: #ad1457;
}

.pink-800 {
  color: #ad1457;
}

.pink-900-bg {
  background-color: #880e4f;
}

.pink-900 {
  color: #880e4f;
}

.pink-a100-bg {
  background-color: #ff80ab;
}

.pink-a100 {
  color: #ff80ab;
}

.pink-a200-bg {
  background-color: #ff4081;
}

.pink-a200 {
  color: #ff4081;
}

.pink-a400-bg {
  background-color: #f50057;
}

.pink-a400 {
  color: #f50057;
}

.pink-a700-bg {
  background-color: #c51162;
}

.pink-a700 {
  color: #c51162;
}

.purple-50-bg {
  background-color: #f3e5f5;
}

.purple-50 {
  color: #f3e5f5;
}

.purple-100-bg {
  background-color: #e1bee7;
}

.purple-100 {
  color: #e1bee7;
}

.purple-200-bg {
  background-color: #ce93d8;
}

.purple-200 {
  color: #ce93d8;
}

.purple-300-bg {
  background-color: #ba68c8;
}

.purple-300 {
  color: #ba68c8;
}

.purple-400-bg {
  background-color: #ab47bc;
}

.purple-400 {
  color: #ab47bc;
}

.purple-500-bg {
  background-color: #9c27b0;
}

.purple-500 {
  color: #9c27b0;
}

.purple-600-bg {
  background-color: #8e24aa;
}

.purple-600 {
  color: #8e24aa;
}

.purple-700-bg {
  background-color: #7b1fa2;
}

.purple-700 {
  color: #7b1fa2;
}

.purple-800-bg {
  background-color: #6a1b9a;
}

.purple-800 {
  color: #6a1b9a;
}

.purple-900-bg {
  background-color: #4a148c;
}

.purple-900 {
  color: #4a148c;
}

.purple-a100-bg {
  background-color: #ea80fc;
}

.purple-a100 {
  color: #ea80fc;
}

.purple-a200-bg {
  background-color: #e040fb;
}

.purple-a200 {
  color: #e040fb;
}

.purple-a400-bg {
  background-color: #d500f9;
}

.purple-a400 {
  color: #d500f9;
}

.purple-a700-bg {
  background-color: #aa00ff;
}

.purple-a700 {
  color: #aa00ff;
}

.deep-purple-50-bg {
  background-color: #ede7f6;
}

.deep-purple-50 {
  color: #ede7f6;
}

.deep-purple-100-bg {
  background-color: #d1c4e9;
}

.deep-purple-100 {
  color: #d1c4e9;
}

.deep-purple-200-bg {
  background-color: #b39ddb;
}

.deep-purple-200 {
  color: #b39ddb;
}

.deep-purple-300-bg {
  background-color: #9575cd;
}

.deep-purple-300 {
  color: #9575cd;
}

.deep-purple-400-bg {
  background-color: #7e57c2;
}

.deep-purple-400 {
  color: #7e57c2;
}

.deep-purple-500-bg {
  background-color: #673ab7;
}

.deep-purple-500 {
  color: #673ab7;
}

.deep-purple-600-bg {
  background-color: #5e35b1;
}

.deep-purple-600 {
  color: #5e35b1;
}

.deep-purple-700-bg {
  background-color: #512da8;
}

.deep-purple-700 {
  color: #512da8;
}

.deep-purple-800-bg {
  background-color: #4527a0;
}

.deep-purple-800 {
  color: #4527a0;
}

.deep-purple-900-bg {
  background-color: #311b92;
}

.deep-purple-900 {
  color: #311b92;
}

.deep-purple-a100-bg {
  background-color: #b388ff;
}

.deep-purple-a100 {
  color: #b388ff;
}

.deep-purple-a200-bg {
  background-color: #7c4dff;
}

.deep-purple-a200 {
  color: #7c4dff;
}

.deep-purple-a400-bg {
  background-color: #651fff;
}

.deep-purple-a400 {
  color: #651fff;
}

.deep-purple-a700-bg {
  background-color: #6200ea;
}

.deep-purple-a700 {
  color: #6200ea;
}

.indigo-50-bg {
  background-color: #e8eaf6;
}

.indigo-50 {
  color: #e8eaf6;
}

.indigo-100-bg {
  background-color: #c5cae9;
}

.indigo-100 {
  color: #c5cae9;
}

.indigo-200-bg {
  background-color: #9fa8da;
}

.indigo-200 {
  color: #9fa8da;
}

.indigo-300-bg {
  background-color: #7986cb;
}

.indigo-300 {
  color: #7986cb;
}

.indigo-400-bg {
  background-color: #5c6bc0;
}

.indigo-400 {
  color: #5c6bc0;
}

.indigo-500-bg {
  background-color: #3f51b5;
}

.indigo-500 {
  color: #3f51b5;
}

.indigo-600-bg {
  background-color: #3949ab;
}

.indigo-600 {
  color: #3949ab;
}

.indigo-700-bg {
  background-color: #303f9f;
}

.indigo-700 {
  color: #303f9f;
}

.indigo-800-bg {
  background-color: #283593;
}

.indigo-800 {
  color: #283593;
}

.indigo-900-bg {
  background-color: #1a237e;
}

.indigo-900 {
  color: #1a237e;
}

.indigo-a100-bg {
  background-color: #8c9eff;
}

.indigo-a100 {
  color: #8c9eff;
}

.indigo-a200-bg {
  background-color: #536dfe;
}

.indigo-a200 {
  color: #536dfe;
}

.indigo-a400-bg {
  background-color: #3d5afe;
}

.indigo-a400 {
  color: #3d5afe;
}

.indigo-a700-bg {
  background-color: #304ffe;
}

.indigo-a700 {
  color: #304ffe;
}

.blue-50-bg {
  background-color: #e3f2fd;
}

.blue-50 {
  color: #e3f2fd;
}

.blue-100-bg {
  background-color: #bbdefb;
}

.blue-100 {
  color: #bbdefb;
}

.blue-200-bg {
  background-color: #90caf9;
}

.blue-200 {
  color: #90caf9;
}

.blue-300-bg {
  background-color: #64b5f6;
}

.blue-300 {
  color: #64b5f6;
}

.blue-400-bg {
  background-color: #42a5f5;
}

.blue-400 {
  color: #42a5f5;
}

.blue-500-bg {
  background-color: #2196f3;
}

.blue-500 {
  color: #2196f3;
}

.blue-600-bg {
  background-color: #1e88e5;
}

.blue-600 {
  color: #1e88e5;
}

.blue-700-bg {
  background-color: #1976d2;
}

.blue-700 {
  color: #1976d2;
}

.blue-800-bg {
  background-color: #1565c0;
}

.blue-800 {
  color: #1565c0;
}

.blue-900-bg {
  background-color: #0d47a1;
}

.blue-900 {
  color: #0d47a1;
}

.blue-a100-bg {
  background-color: #82b1ff;
}

.blue-a100 {
  color: #82b1ff;
}

.blue-a200-bg {
  background-color: #448aff;
}

.blue-a200 {
  color: #448aff;
}

.blue-a400-bg {
  background-color: #2979ff;
}

.blue-a400 {
  color: #2979ff;
}

.blue-a700-bg {
  background-color: #2962ff;
}

.blue-a700 {
  color: #2962ff;
}

.light-blue-50-bg {
  background-color: #e1f5fe;
}

.light-blue-50 {
  color: #e1f5fe;
}

.light-blue-100-bg {
  background-color: #b3e5fc;
}

.light-blue-100 {
  color: #b3e5fc;
}

.light-blue-200-bg {
  background-color: #81d4fa;
}

.light-blue-200 {
  color: #81d4fa;
}

.light-blue-300-bg {
  background-color: #4fc3f7;
}

.light-blue-300 {
  color: #4fc3f7;
}

.light-blue-400-bg {
  background-color: #29b6f6;
}

.light-blue-400 {
  color: #29b6f6;
}

.light-blue-500-bg {
  background-color: #03a9f4;
}

.light-blue-500 {
  color: #03a9f4;
}

.light-blue-600-bg {
  background-color: #039be5;
}

.light-blue-600 {
  color: #039be5;
}

.light-blue-700-bg {
  background-color: #0288d1;
}

.light-blue-700 {
  color: #0288d1;
}

.light-blue-800-bg {
  background-color: #0277bd;
}

.light-blue-800 {
  color: #0277bd;
}

.light-blue-900-bg {
  background-color: #01579b;
}

.light-blue-900 {
  color: #01579b;
}

.light-blue-a100-bg {
  background-color: #80d8ff;
}

.light-blue-a100 {
  color: #80d8ff;
}

.light-blue-a200-bg {
  background-color: #40c4ff;
}

.light-blue-a200 {
  color: #40c4ff;
}

.light-blue-a400-bg {
  background-color: #00b0ff;
}

.light-blue-a400 {
  color: #00b0ff;
}

.light-blue-a700-bg {
  background-color: #0091ea;
}

.light-blue-a700 {
  color: #0091ea;
}

.cyan-50-bg {
  background-color: #e0f7fa;
}

.cyan-50 {
  color: #e0f7fa;
}

.cyan-100-bg {
  background-color: #b2ebf2;
}

.cyan-100 {
  color: #b2ebf2;
}

.cyan-200-bg {
  background-color: #80deea;
}

.cyan-200 {
  color: #80deea;
}

.cyan-300-bg {
  background-color: #4dd0e1;
}

.cyan-300 {
  color: #4dd0e1;
}

.cyan-400-bg {
  background-color: #26c6da;
}

.cyan-400 {
  color: #26c6da;
}

.cyan-500-bg {
  background-color: #00bcd4;
}

.cyan-500 {
  color: #00bcd4;
}

.cyan-600-bg {
  background-color: #00acc1;
}

.cyan-600 {
  color: #00acc1;
}

.cyan-700-bg {
  background-color: #0097a7;
}

.cyan-700 {
  color: #0097a7;
}

.cyan-800-bg {
  background-color: #00838f;
}

.cyan-800 {
  color: #00838f;
}

.cyan-900-bg {
  background-color: #006064;
}

.cyan-900 {
  color: #006064;
}

.cyan-a100-bg {
  background-color: #84ffff;
}

.cyan-a100 {
  color: #84ffff;
}

.cyan-a200-bg {
  background-color: #18ffff;
}

.cyan-a200 {
  color: #18ffff;
}

.cyan-a400-bg {
  background-color: #00e5ff;
}

.cyan-a400 {
  color: #00e5ff;
}

.cyan-a700-bg {
  background-color: #00b8d4;
}

.cyan-a700 {
  color: #00b8d4;
}

.teal-50-bg {
  background-color: #e0f2f1;
}

.teal-50 {
  color: #e0f2f1;
}

.teal-100-bg {
  background-color: #b2dfdb;
}

.teal-100 {
  color: #b2dfdb;
}

.teal-200-bg {
  background-color: #80cbc4;
}

.teal-200 {
  color: #80cbc4;
}

.teal-300-bg {
  background-color: #4db6ac;
}

.teal-300 {
  color: #4db6ac;
}

.teal-400-bg {
  background-color: #26a69a;
}

.teal-400 {
  color: #26a69a;
}

.teal-500-bg {
  background-color: #009688;
}

.teal-500 {
  color: #009688;
}

.teal-600-bg {
  background-color: #00897b;
}

.teal-600 {
  color: #00897b;
}

.teal-700-bg {
  background-color: #00796b;
}

.teal-700 {
  color: #00796b;
}

.teal-800-bg {
  background-color: #00695c;
}

.teal-800 {
  color: #00695c;
}

.teal-900-bg {
  background-color: #004d40;
}

.teal-900 {
  color: #004d40;
}

.teal-a100-bg {
  background-color: #a7ffeb;
}

.teal-a100 {
  color: #a7ffeb;
}

.teal-a200-bg {
  background-color: #64ffda;
}

.teal-a200 {
  color: #64ffda;
}

.teal-a400-bg {
  background-color: #1de9b6;
}

.teal-a400 {
  color: #1de9b6;
}

.teal-a700-bg {
  background-color: #00bfa5;
}

.teal-a700 {
  color: #00bfa5;
}

.green-50-bg {
  background-color: #e8f5e9;
}

.green-50 {
  color: #e8f5e9;
}

.green-100-bg {
  background-color: #c8e6c9;
}

.green-100 {
  color: #c8e6c9;
}

.green-200-bg {
  background-color: #a5d6a7;
}

.green-200 {
  color: #a5d6a7;
}

.green-300-bg {
  background-color: #81c784;
}

.green-300 {
  color: #81c784;
}

.green-400-bg {
  background-color: #66bb6a;
}

.green-400 {
  color: #66bb6a;
}

.green-500-bg {
  background-color: #4caf50;
}

.green-500 {
  color: #4caf50;
}

.green-600-bg {
  background-color: #43a047;
}

.green-600 {
  color: #43a047;
}

.green-700-bg {
  background-color: #388e3c;
}

.green-700 {
  color: #388e3c;
}

.green-800-bg {
  background-color: #2e7d32;
}

.green-800 {
  color: #2e7d32;
}

.green-900-bg {
  background-color: #1b5e20;
}

.green-900 {
  color: #1b5e20;
}

.green-a100-bg {
  background-color: #b9f6ca;
}

.green-a100 {
  color: #b9f6ca;
}

.green-a200-bg {
  background-color: #69f0ae;
}

.green-a200 {
  color: #69f0ae;
}

.green-a400-bg {
  background-color: #00e676;
}

.green-a400 {
  color: #00e676;
}

.green-a700-bg {
  background-color: #00c853;
}

.green-a700 {
  color: #00c853;
}

.light-green-50-bg {
  background-color: #f1f8e9;
}

.light-green-50 {
  color: #f1f8e9;
}

.light-green-100-bg {
  background-color: #dcedc8;
}

.light-green-100 {
  color: #dcedc8;
}

.light-green-200-bg {
  background-color: #c5e1a5;
}

.light-green-200 {
  color: #c5e1a5;
}

.light-green-300-bg {
  background-color: #aed581;
}

.light-green-300 {
  color: #aed581;
}

.light-green-400-bg {
  background-color: #9ccc65;
}

.light-green-400 {
  color: #9ccc65;
}

.light-green-500-bg {
  background-color: #8bc34a;
}

.light-green-500 {
  color: #8bc34a;
}

.light-green-600-bg {
  background-color: #7cb342;
}

.light-green-600 {
  color: #7cb342;
}

.light-green-700-bg {
  background-color: #689f38;
}

.light-green-700 {
  color: #689f38;
}

.light-green-800-bg {
  background-color: #558b2f;
}

.light-green-800 {
  color: #558b2f;
}

.light-green-900-bg {
  background-color: #33691e;
}

.light-green-900 {
  color: #33691e;
}

.light-green-a100-bg {
  background-color: #ccff90;
}

.light-green-a100 {
  color: #ccff90;
}

.light-green-a200-bg {
  background-color: #b2ff59;
}

.light-green-a200 {
  color: #b2ff59;
}

.light-green-a400-bg {
  background-color: #76ff03;
}

.light-green-a400 {
  color: #76ff03;
}

.light-green-a700-bg {
  background-color: #64dd17;
}

.light-green-a700 {
  color: #64dd17;
}

.lime-50-bg {
  background-color: #f9fbe7;
}

.lime-50 {
  color: #f9fbe7;
}

.lime-100-bg {
  background-color: #f0f4c3;
}

.lime-100 {
  color: #f0f4c3;
}

.lime-200-bg {
  background-color: #e6ee9c;
}

.lime-200 {
  color: #e6ee9c;
}

.lime-300-bg {
  background-color: #dce775;
}

.lime-300 {
  color: #dce775;
}

.lime-400-bg {
  background-color: #d4e157;
}

.lime-400 {
  color: #d4e157;
}

.lime-500-bg {
  background-color: #cddc39;
}

.lime-500 {
  color: #cddc39;
}

.lime-600-bg {
  background-color: #c0ca33;
}

.lime-600 {
  color: #c0ca33;
}

.lime-700-bg {
  background-color: #afb42b;
}

.lime-700 {
  color: #afb42b;
}

.lime-800-bg {
  background-color: #9e9d24;
}

.lime-800 {
  color: #9e9d24;
}

.lime-900-bg {
  background-color: #827717;
}

.lime-900 {
  color: #827717;
}

.lime-a100-bg {
  background-color: #f4ff81;
}

.lime-a100 {
  color: #f4ff81;
}

.lime-a200-bg {
  background-color: #eeff41;
}

.lime-a200 {
  color: #eeff41;
}

.lime-a400-bg {
  background-color: #c6ff00;
}

.lime-a400 {
  color: #c6ff00;
}

.lime-a700-bg {
  background-color: #aeea00;
}

.lime-a700 {
  color: #aeea00;
}

.yellow-50-bg {
  background-color: #fffde7;
}

.yellow-50 {
  color: #fffde7;
}

.yellow-100-bg {
  background-color: #fff9c4;
}

.yellow-100 {
  color: #fff9c4;
}

.yellow-200-bg {
  background-color: #fff59d;
}

.yellow-200 {
  color: #fff59d;
}

.yellow-300-bg {
  background-color: #fff176;
}

.yellow-300 {
  color: #fff176;
}

.yellow-400-bg {
  background-color: #ffee58;
}

.yellow-400 {
  color: #ffee58;
}

.yellow-500-bg {
  background-color: #ffeb3b;
}

.yellow-500 {
  color: #ffeb3b;
}

.yellow-600-bg {
  background-color: #fdd835;
}

.yellow-600 {
  color: #fdd835;
}

.yellow-700-bg {
  background-color: #fbc02d;
}

.yellow-700 {
  color: #fbc02d;
}

.yellow-800-bg {
  background-color: #f9a825;
}

.yellow-800 {
  color: #f9a825;
}

.yellow-900-bg {
  background-color: #f57f17;
}

.yellow-900 {
  color: #f57f17;
}

.yellow-a100-bg {
  background-color: #ffff8d;
}

.yellow-a100 {
  color: #ffff8d;
}

.yellow-a200-bg {
  background-color: #ffff00;
}

.yellow-a200 {
  color: #ffff00;
}

.yellow-a400-bg {
  background-color: #ffea00;
}

.yellow-a400 {
  color: #ffea00;
}

.yellow-a700-bg {
  background-color: #ffd600;
}

.yellow-a700 {
  color: #ffd600;
}

.amber-50-bg {
  background-color: #fff8e1;
}

.amber-50 {
  color: #fff8e1;
}

.amber-100-bg {
  background-color: #ffecb3;
}

.amber-100 {
  color: #ffecb3;
}

.amber-200-bg {
  background-color: #ffe082;
}

.amber-200 {
  color: #ffe082;
}

.amber-300-bg {
  background-color: #ffd54f;
}

.amber-300 {
  color: #ffd54f;
}

.amber-400-bg {
  background-color: #ffca28;
}

.amber-400 {
  color: #ffca28;
}

.amber-500-bg {
  background-color: #ffc107;
}

.amber-500 {
  color: #ffc107;
}

.amber-600-bg {
  background-color: #ffb300;
}

.amber-600 {
  color: #ffb300;
}

.amber-700-bg {
  background-color: #ffa000;
}

.amber-700 {
  color: #ffa000;
}

.amber-800-bg {
  background-color: #ff8f00;
}

.amber-800 {
  color: #ff8f00;
}

.amber-900-bg {
  background-color: #ff6f00;
}

.amber-900 {
  color: #ff6f00;
}

.amber-a100-bg {
  background-color: #ffe57f;
}

.amber-a100 {
  color: #ffe57f;
}

.amber-a200-bg {
  background-color: #ffd740;
}

.amber-a200 {
  color: #ffd740;
}

.amber-a400-bg {
  background-color: #ffc400;
}

.amber-a400 {
  color: #ffc400;
}

.amber-a700-bg {
  background-color: #ffab00;
}

.amber-a700 {
  color: #ffab00;
}

.orange-50-bg {
  background-color: #fff3e0;
}

.orange-50 {
  color: #fff3e0;
}

.orange-100-bg {
  background-color: #ffe0b2;
}

.orange-100 {
  color: #ffe0b2;
}

.orange-200-bg {
  background-color: #ffcc80;
}

.orange-200 {
  color: #ffcc80;
}

.orange-300-bg {
  background-color: #ffb74d;
}

.orange-300 {
  color: #ffb74d;
}

.orange-400-bg {
  background-color: #ffa726;
}

.orange-400 {
  color: #ffa726;
}

.orange-500-bg {
  background-color: #ff9800;
}

.orange-500 {
  color: #ff9800;
}

.orange-600-bg {
  background-color: #fb8c00;
}

.orange-600 {
  color: #fb8c00;
}

.orange-700-bg {
  background-color: #f57c00;
}

.orange-700 {
  color: #f57c00;
}

.orange-800-bg {
  background-color: #ef6c00;
}

.orange-800 {
  color: #ef6c00;
}

.orange-900-bg {
  background-color: #e65100;
}

.orange-900 {
  color: #e65100;
}

.orange-a100-bg {
  background-color: #ffd180;
}

.orange-a100 {
  color: #ffd180;
}

.orange-a200-bg {
  background-color: #ffab40;
}

.orange-a200 {
  color: #ffab40;
}

.orange-a400-bg {
  background-color: #ff9100;
}

.orange-a400 {
  color: #ff9100;
}

.orange-a700-bg {
  background-color: #ff6d00;
}

.orange-a700 {
  color: #ff6d00;
}

.deep-orange-50-bg {
  background-color: #fbe9e7;
}

.deep-orange-50 {
  color: #fbe9e7;
}

.deep-orange-100-bg {
  background-color: #ffccbc;
}

.deep-orange-100 {
  color: #ffccbc;
}

.deep-orange-200-bg {
  background-color: #ffab91;
}

.deep-orange-200 {
  color: #ffab91;
}

.deep-orange-300-bg {
  background-color: #ff8a65;
}

.deep-orange-300 {
  color: #ff8a65;
}

.deep-orange-400-bg {
  background-color: #ff7043;
}

.deep-orange-400 {
  color: #ff7043;
}

.deep-orange-500-bg {
  background-color: #ff5722;
}

.deep-orange-500 {
  color: #ff5722;
}

.deep-orange-600-bg {
  background-color: #f4511e;
}

.deep-orange-600 {
  color: #f4511e;
}

.deep-orange-700-bg {
  background-color: #e64a19;
}

.deep-orange-700 {
  color: #e64a19;
}

.deep-orange-800-bg {
  background-color: #d84315;
}

.deep-orange-800 {
  color: #d84315;
}

.deep-orange-900-bg {
  background-color: #bf360c;
}

.deep-orange-900 {
  color: #bf360c;
}

.deep-orange-a100-bg {
  background-color: #ff9e80;
}

.deep-orange-a100 {
  color: #ff9e80;
}

.deep-orange-a200-bg {
  background-color: #ff6e40;
}

.deep-orange-a200 {
  color: #ff6e40;
}

.deep-orange-a400-bg {
  background-color: #ff3d00;
}

.deep-orange-a400 {
  color: #ff3d00;
}

.deep-orange-a700-bg {
  background-color: #dd2c00;
}

.deep-orange-a700 {
  color: #dd2c00;
}

.brown-50-bg {
  background-color: #efebe9;
}

.brown-50 {
  color: #efebe9;
}

.brown-100-bg {
  background-color: #d7ccc8;
}

.brown-100 {
  color: #d7ccc8;
}

.brown-200-bg {
  background-color: #bcaaa4;
}

.brown-200 {
  color: #bcaaa4;
}

.brown-300-bg {
  background-color: #a1887f;
}

.brown-300 {
  color: #a1887f;
}

.brown-400-bg {
  background-color: #8d6e63;
}

.brown-400 {
  color: #8d6e63;
}

.brown-500-bg {
  background-color: #795548;
}

.brown-500 {
  color: #795548;
}

.brown-600-bg {
  background-color: #6d4c41;
}

.brown-600 {
  color: #6d4c41;
}

.brown-700-bg {
  background-color: #5d4037;
}

.brown-700 {
  color: #5d4037;
}

.brown-800-bg {
  background-color: #4e342e;
}

.brown-800 {
  color: #4e342e;
}

.brown-900-bg {
  background-color: #3e2723;
}

.brown-900 {
  color: #3e2723;
}

.grey-50-bg {
  background-color: #fafafa;
}

.grey-50 {
  color: #fafafa;
}

.grey-100-bg {
  background-color: #f5f5f5;
}

.grey-100 {
  color: #f5f5f5;
}

.grey-200-bg {
  background-color: #eeeeee;
}

.grey-200 {
  color: #eeeeee;
}

.grey-300-bg {
  background-color: #e0e0e0;
}

.grey-300 {
  color: #e0e0e0;
}

.grey-400-bg {
  background-color: #bdbdbd;
}

.grey-400 {
  color: #bdbdbd;
}

.grey-500-bg {
  background-color: #9e9e9e;
}

.grey-500 {
  color: #9e9e9e;
}

.grey-600-bg {
  background-color: #757575;
}

.grey-600 {
  color: #757575;
}

.grey-700-bg {
  background-color: #616161;
}

.grey-700 {
  color: #616161;
}

.grey-800-bg {
  background-color: #424242;
}

.grey-800 {
  color: #424242;
}

.grey-900-bg {
  background-color: #212121;
}

.grey-900 {
  color: #212121;
}

.blue-gray-50-bg {
  background-color: #eceff1;
}

.blue-gray-50 {
  color: #eceff1;
}

.blue-gray-100-bg {
  background-color: #cfd8dc;
}

.blue-gray-100 {
  color: #cfd8dc;
}

.blue-gray-200-bg {
  background-color: #b0bec5;
}

.blue-gray-200 {
  color: #b0bec5;
}

.blue-gray-300-bg {
  background-color: #90a4ae;
}

.blue-gray-300 {
  color: #90a4ae;
}

.blue-gray-400-bg {
  background-color: #78909c;
}

.blue-gray-400 {
  color: #78909c;
}

.blue-gray-500-bg {
  background-color: #607d8b;
}

.blue-gray-500 {
  color: #607d8b;
}

.blue-gray-600-bg {
  background-color: #546e7a;
}

.blue-gray-600 {
  color: #546e7a;
}

.blue-gray-700-bg {
  background-color: #455a64;
}

.blue-gray-700 {
  color: #455a64;
}

.blue-gray-800-bg {
  background-color: #37474f;
}

.blue-gray-800 {
  color: #37474f;
}

.blue-gray-900-bg {
  background-color: #263238;
}

.blue-gray-900 {
  color: #263238;
}

.white-bg {
  background-color: #fff;
}

.white {
  color: #fff;
}

.black-bg {
  background-color: #000;
}

.black {
  color: #000;
}

.white-90pc-bg {
  background-color: rgba(255, 255, 255, 0.9);
}

.white-90pc {
  color: rgba(255, 255, 255, 0.9);
}

.white-10pc-bg {
  background-color: rgba(255, 255, 255, 0.1);
}

.white-10pc {
  color: rgba(255, 255, 255, 0.1);
}

.black-90pc-bg {
  background-color: rgba(0, 0, 0, 0.9);
}

.black-90pc {
  color: rgba(0, 0, 0, 0.9);
}

.black-10pc-bg {
  background-color: rgba(0, 0, 0, 0.1);
}

.black-10pc {
  color: rgba(0, 0, 0, 0.1);
}

/* 8.0 GRADIENTS
----------------------------------------- */
.grey-grad {
  background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%);
  /* W3C */
}

.aqua-grad {
  background: -webkit-linear-gradient(90deg, #1A2980 10%, #26D0CE 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #1A2980 10%, #26D0CE 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #1A2980 10%, #26D0CE 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #1A2980 10%, #26D0CE 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #1A2980 10%, #26D0CE 90%);
  /* W3C */
}

.bluish-grad {
  background: -webkit-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);
  /* W3C */
}

.ash-grad {
  background: -webkit-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* W3C */
}

.reddish-grad {
  background: -webkit-linear-gradient(90deg, #e43a15 10%, #e65245 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #e43a15 10%, #e65245 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #e43a15 10%, #e65245 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #e43a15 10%, #e65245 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #e43a15 10%, #e65245 90%);
  /* W3C */
}

.indigo-grad {
  background: -webkit-linear-gradient(90deg, #4776E6 10%, #8E54E9 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #4776E6 10%, #8E54E9 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #4776E6 10%, #8E54E9 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #4776E6 10%, #8E54E9 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #4776E6 10%, #8E54E9 90%);
  /* W3C */
}

.rose-grad {
  background: -webkit-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
  /* W3C */
}

.emerald-grad {
  background: -webkit-linear-gradient(90deg, #348F50 10%, #56B4D3 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #348F50 10%, #56B4D3 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #348F50 10%, #56B4D3 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #348F50 10%, #56B4D3 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #348F50 10%, #56B4D3 90%);
  /* W3C */
}

.navy-grad {
  background: -webkit-linear-gradient(90deg, #005C97 10%, #363795 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #005C97 10%, #363795 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #005C97 10%, #363795 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #005C97 10%, #363795 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #005C97 10%, #363795 90%);
  /* W3C */
}

/* 9.0 IMAGE CLASSES
----------------------------------------- */
.cover-1-bg {
  background: url(../images/covers/cover1.jpg) center center no-repeat;
}

.cover-2-bg {
  background: url(../images/covers/cover2.jpg) center center no-repeat;
}

.cover-3-bg {
  background: url(../images/covers/cover3.jpg) center center no-repeat;
}

.cover-page-bg {
  background: url(../images/covers/cover3.jpg) center center no-repeat;
}

[class*="cover-"] {
  -webkit-background-size: cover!important;
  -moz-background-size: cover!important;
  -o-background-size: cover!important;
  background-size: cover!important;
}

/* 10.0 PAGE LOADER
------------------------------------------- */
.page-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  text-align: center;
}
.page-loader img {
  display: inline-block;
  width: 30px;
}

/* 10.1 LOADER ANIMATION
------------------------------------------- */
.cssload-loader {
  display: block;
  margin: 0 auto;
  width: 22px;
  height: 22px;
  position: relative;
  border: 3px solid rgba(255, 255, 255, 0.98);
  animation: cssload-loader 2.3s infinite ease;
  -o-animation: cssload-loader 2.3s infinite ease;
  -ms-animation: cssload-loader 2.3s infinite ease;
  -webkit-animation: cssload-loader 2.3s infinite ease;
  -moz-animation: cssload-loader 2.3s infinite ease;
}

.cssload-loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: white;
  animation: cssload-loader-inner 2.3s infinite ease-in;
  -o-animation: cssload-loader-inner 2.3s infinite ease-in;
  -ms-animation: cssload-loader-inner 2.3s infinite ease-in;
  -webkit-animation: cssload-loader-inner 2.3s infinite ease-in;
  -moz-animation: cssload-loader-inner 2.3s infinite ease-in;
}

/* 10.2 ANIMATION KEYFRAMES
------------------------------------------- */
@keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-ms-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-o-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-ms-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-webkit-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-moz-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
/* 11.0 UTILITY CLASSES
------------------------------------------- */
.case-u {
  text-transform: uppercase;
}

.case-l {
  text-transform: lowercase;
}

.case-c {
  text-transform: capitalize;
}

[class^="valign-"] {
  display: table-cell;
  width: 100%;
  height: 100%;
}

.valign-middle {
  vertical-align: middle;
}

.valign-top {
  vertical-align: top;
}

.valign-bottom {
  vertical-align: bottom;
}

.valigner {
  width: 100%;
  height: 100%;
  display: table;
}
@media (max-width: 767px) {
  .valigner.undo-xs {
    display: block;
    height: auto;
  }
}

.hcenter {
  margin-left: auto;
  margin-right: auto;
}

.clear {
  clear: both !important;
  visibility: hidden;
  display: block;
  height: 0;
}

.clearfix:before, .clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* MISC 
------------------------------------------- */
.demo-page {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  overflow: auto;
  padding: 30px;
}
.demo-page header {
  margin: 2em 0 3em 0;
  position: relative;
}
.demo-page header h1 {
  font: 300 4em/1em "Roboto";
  margin: 0 0 0.1em 0;
}
.demo-page header p {
  font: 300 1em/1em "Roboto Condensed";
  margin: 0 0 0.1em 0;
}
.demo-page header .btn {
  line-height: 1em;
  padding: 1em 1.5em;
  margin-top: 1em;
  font-size: 0.9em;
  text-transform: uppercase;
}
.demo-page .demo-item {
  position: relative;
  text-align: center;
  padding: 15px;
}
.demo-page .demo-item a, .demo-page .demo-item img, .demo-page .demo-item span {
  display: block;
}
.demo-page .demo-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1em;
}
.demo-page .demo-item span {
  font: 300 0.9em/1em "Roboto Condensed";
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* STYLE SWITCHER
-------------------------------------------------- */
#style-switcher {
  position: fixed;
  right: 0;
  top: 60px;
  z-index: 20000;
  display: block;
}
#style-switcher select {
  width: 100%;
  border: none;
  padding: 7px;
  background: #eee;
  font-size: 0.9em;
}
#style-switcher .ctrl {
  float: left;
  color: #000;
  background: #fff;
  border-right: 0;
  height: 40px;
  width: 40px;
  text-align: center;
  margin: 20px -2px 0 0;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#style-switcher .ctrl i {
  line-height: 40px;
  font-size: 18px;
  cursor: pointer;
}
#style-switcher .styles {
  float: left;
  display: none;
  background: #fff;
  width: 180px;
  padding: 15px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#style-switcher .bgs {
  margin: 0 0 10px 0;
  list-style: none;
  padding: 0;
  margin: 0 -5px;
}
#style-switcher .bgs li {
  display: block;
  float: left;
  width: 33.3333%;
  padding: 5px;
}
#style-switcher .bgs li a {
  display: block;
  width: 100%;
  height: 40px;
}
#style-switcher h5 {
  color: #fff;
  background: #607d8b;
  font: 300 1em/1em "Roboto";
  padding: 0.7em 1em;
  line-height: 1;
  margin: 15px 0 15px 0;
  text-transform: uppercase;
}
#style-switcher .alert {
  font-size: 0.8em;
  border-radius: 0;
  padding: 1em;
  line-height: 1.4em;
}
@media (max-width: 767px) {
  #style-switcher {
    display: none;
  }
}
