/**********************************
MEDIA QUERIES
***********************************/
@media only screen and (max-width: 1366px) {

    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    /***********************************
    HOME STYLES
    ***********************************/
    .banner {
        padding: 120px 0; 
    } 

}/* 1366 */

@media only screen and (max-width: 1199px) {

    h1, .h1 { font-size: 60px; line-height: 66px; }

    body {

        &:before, &:after {
            width: 4px;
        }
    }

    .btn {

        &.btn-medium    {
            font-size: 16px;
            line-height: 26px;
            padding: 15px 25px 13px;
        }
    }

    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .social-media {

        li {

            a {
                width: 54px;
                height: 54px;
                font-size: 18px;
                line-height: 54px;
            }
        }
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .navbar {

            .navbar-collapse {

                .navbar-nav {
                    margin-left: -8px;
                    margin-right: -8px;

                    > li {
                        margin-left: 8px;
                        margin-right: 8px;
                    }
                }
            }
        }
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .banner {
        padding: 100px 0;
    } 

}/* 1199 */


@media only screen and (max-width: 991px) {

    h1, .h1 { font-size: 48px; line-height: 58px; }
    h2, .h2 { font-size: 40px; line-height: 50px; }

    body {

        &:before, &:after {
            width: 2px;
        }
    }

    .btn {

        &.btn-medium    {
            padding: 13px 20px 11px;
        }
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .social-media {

        li {

            a {
                width: 50px;
                height: 50px;
                font-size: 16px;
                line-height: 50px;
            }
        }
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .navbar {

            .container {
                padding-left: 20px;
                padding-right: 20px;
            }

            .navbar-collapse {

                .navbar-nav {

                    &.navbar-nav-right {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .banner {
        padding: 80px 0; 
    } 


}/* 991 */

@media only screen and (max-width: 767px) {

    h1, .h1 { font-size: 40px; line-height: 50px; }
    h2, .h2 { font-size: 36px; line-height: 46px; }
    h3, .h3 { font-size: 30px; line-height: 36px; }
    h4, .h4 { font-size: 24px; line-height: 32px; }
    h5, .h5 { font-size: 20px; line-height: 28px; }

    .btn {
        font-size: 14px;
        line-height: 24px;

        &.btn-medium    {
            font-size: 14px;
            line-height: 24px;
            padding: 11px 18px 10px;
        }
    }

    .desc-big {
        font-size: 18px;
        line-height: 28px;
    }

    .social-media {

        li {
            margin-right: 8px;

            a {
                width: 45px;
                height: 45px;
                line-height: 45px;
            }
        }
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .navbar {

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-nav-right) {

                        > li {

                            &:nth-last-child(1) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .banner {
        padding: 60px 0; 

        &__content {

            .btn {
                margin-right: 8px;
            }

            .social-media {

                li {

                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
    
    /***********************************
    FOOTER STYLES
    ***********************************/
    .callaction {

        &__content {

            .title {
                margin-bottom: 10px;
            }
            
            .btn {
                margin-top: 20px;
            }
        }

        &__background {
            padding: 50px 30px;
        }
    }

    .footer {
        padding-top: 50px;

        .social-media {
            margin-top: 20px;
        }
    }

}/* 767 */

@media only screen and (max-width: 640px) {

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .navbar {

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-nav-right) {

                        > li {

                            &:nth-last-child(2) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

}/* 640 */

@media only screen and (max-width: 575px) {

    h1, .h1 { font-size: 36px; line-height: 46px; }
    h2, .h2 { font-size: 30px; line-height: 36px; }
    h3, .h3 { font-size: 24px; line-height: 32px; }
    h4, .h4 { font-size: 20px; line-height: 28px; }
    h5, .h5 { font-size: 18px; line-height: 24px; }
    h6, .h6 { font-size: 16px; line-height: 22px; }

    .desc-big {
        font-size: 16px;
        line-height: 24px;
    }

    section {
        padding: 30px 0;
    }

    .col {
        width: 100%;
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .navbar {

            .navbar-collapse {
                flex-grow: initial;

                .navbar-nav {

                    &:not(.navbar-nav-right) {
                        display: none;
                    }
                }
            }
        }
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .banner {
        padding: 40px 0;

        &__content {
            text-align: center;

            .social-media {

                li {

                    &:last-child {
                        display: none;
                    }
                }
            }
        }

        &__media {
            margin-top: 30px;
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;

            .rounded-image {
            }
        }
    } 

    /***********************************
    FOOTER STYLES
    ***********************************/
    .callaction {

        &__content {

            .title {
                margin-bottom: 5px;
            }
        }

        &__background {
            padding: 40px 30px;
        }
    }

    .footer {
        padding-top: 40px;

        .social-media {
            margin-top: 20px;
        }
    }
    
}/* 575 */

@media only screen and (max-width: 480px) {

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .navbar {

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-nav-right) {
                        display: none;
                    }

                    &.navbar-nav-right {

                        > li {

                            &:nth-child(2) {

                                &:not(.mobile-navbar-toggler) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
   
}/* 480 */

@media only screen and (max-width: 380px) {


    
}/* 380 */