/**********************************
MEDIA QUERIES
***********************************/
@media only screen and (max-width: 1366px) {

    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    /***********************************
    HOME STYLES
    ***********************************/
    .banner {
        padding: 120px 0; 
    } 

}/* 1366 */

@media only screen and (max-width: 1199px) {

    h1, .h1 { font-size: 60px; line-height: 66px; }

    body {

        &:before, &:after {
            width: 4px;
        }
    }

    .btn {

        &.btn-medium    {
            font-size: 16px;
            line-height: 26px;
            padding: 15px 25px 13px;
        }
    }

    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .social-media {

        li {

            a {
                width: 54px;
                height: 54px;
                font-size: 18px;
                line-height: 54px;
            }
        }
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .navbar {

            .navbar-collapse {

                .navbar-nav {
                    margin-left: -8px;
                    margin-right: -8px;

                    > li {
                        margin-left: 8px;
                        margin-right: 8px;
                    }
                }
            }
        }
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .banner {
        padding: 100px 0;
    } 

    .whatwedo {
        padding: 100px 0;

        &__content {
            max-width: 100%;
            margin-bottom: 50px;

            .entry-title {
                margin-bottom: 20px;

                .title {
                    max-width: 100%;
                }
            }
        }
    }

    .recentworks {
        padding: 100px 0;
    }

    .faqs {
        padding: 100px 0;
    }

    /***********************************
    PORTFOLIO STYLES
    ***********************************/
    .portfolio {
        padding-bottom: 100px;
    }

    /***********************************
    CONTACT STYLES
    ***********************************/
    .contact {
        padding: 100px 0;
    }

}/* 1199 */


@media only screen and (max-width: 991px) {

    h1, .h1 { font-size: 48px; line-height: 58px; }
    h2, .h2 { font-size: 40px; line-height: 50px; }

    body {

        &:before, &:after {
            width: 2px;
        }
    }

    .btn {

        &.btn-medium    {
            padding: 13px 20px 11px;
        }
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .social-media {

        li {

            a {
                width: 50px;
                height: 50px;
                font-size: 16px;
                line-height: 50px;
            }
        }
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .navbar {

            .container {
                padding-left: 20px;
                padding-right: 20px;
            }

            .navbar-collapse {

                .navbar-nav {

                    &.navbar-nav-right {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .banner {
        padding: 80px 0; 
    } 

    .whatwedo {
        padding: 80px 0;
    }

    .recentworks {
        padding: 80px 0;
    }

    .faqs {
        padding: 80px 0;
    }

    /***********************************
    PORTFOLIO STYLES
    ***********************************/
    .portfolio {
        padding-bottom: 80px;
    }

    /***********************************
    CONTACT STYLES
    ***********************************/
    .contact {
        padding: 80px 0;
    }

}/* 991 */

@media only screen and (max-width: 767px) {

    h1, .h1 { font-size: 40px; line-height: 50px; }
    h2, .h2 { font-size: 36px; line-height: 46px; }
    h3, .h3 { font-size: 30px; line-height: 36px; }
    h4, .h4 { font-size: 24px; line-height: 32px; }
    h5, .h5 { font-size: 20px; line-height: 28px; }

    .btn {
        font-size: 14px;
        line-height: 24px;

        &.btn-medium    {
            font-size: 14px;
            line-height: 24px;
            padding: 11px 18px 10px;
        }
    }

    .desc-big {
        font-size: 18px;
        line-height: 28px;
    }

    .social-media {

        li {
            margin-right: 8px;

            a {
                width: 45px;
                height: 45px;
                line-height: 45px;
            }
        }
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .navbar {

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-nav-right) {

                        > li {

                            &:nth-last-child(1) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .banner {
        padding: 60px 0; 

        &__content {

            .btn {
                margin-right: 8px;
            }

            .social-media {

                li {

                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }

    .whatwedo {
        padding: 60px 0;

        &__item {

            .icon {
                width: 90px;
                height: 90px;
                font-size: 40px;
                line-height: 90px;
            }
        }
    }

    .recentworks {
        padding: 60px 0;

        .entry-title {
            margin-bottom: 20px;
        }

        .slyslider {

            &__item {
                max-width: 500px;
            }
        }
    }

    .faqs {
        padding: 60px 0;

        .entry-title {
            margin-bottom: 20px;
        }
    }

    /***********************************
    PORTFOLIO STYLES
    ***********************************/
    .portfolio {
        padding: 60px 0; 
    }

    /***********************************
    CONTACT STYLES
    ***********************************/
    .contact {
        padding: 60px 0;
    }
    
    /***********************************
    FOOTER STYLES
    ***********************************/
    .callaction {

        &__content {

            .title {
                margin-bottom: 10px;
            }
            
            .btn {
                margin-top: 20px;
            }
        }

        &__background {
            padding: 50px 30px;
        }
    }

    .footer {
        padding-top: 50px;

        .social-media {
            margin-top: 20px;
        }
    }

    /***********************************
    DEFAULT STYLES
    ***********************************/
    .slyslider {

        &__controls {

            .slyslider__control {
                width: 60px;
                height: 60px;
                font-size: 16px;
                line-height: 60px;
            }
        }
    }

}/* 767 */

@media only screen and (max-width: 640px) {

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .navbar {

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-nav-right) {

                        > li {

                            &:nth-last-child(2) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

}/* 640 */

@media only screen and (max-width: 575px) {

    h1, .h1 { font-size: 36px; line-height: 46px; }
    h2, .h2 { font-size: 30px; line-height: 36px; }
    h3, .h3 { font-size: 24px; line-height: 32px; }
    h4, .h4 { font-size: 20px; line-height: 28px; }
    h5, .h5 { font-size: 18px; line-height: 24px; }
    h6, .h6 { font-size: 16px; line-height: 22px; }

    .desc-big {
        font-size: 16px;
        line-height: 24px;
    }

    section {
        padding: 30px 0;
    }

    .col {
        width: 100%;
    }

    .separator {
        margin-bottom: 5px;
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .navbar {

            .navbar-collapse {
                flex-grow: initial;

                .navbar-nav {

                    &:not(.navbar-nav-right) {
                        display: none;
                    }
                }
            }
        }
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .banner {
        padding: 40px 0;

        &__content {
            text-align: center;

            .social-media {

                li {

                    &:last-child {
                        display: none;
                    }
                }
            }
        }

        &__media {
            margin-top: 30px;
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
    } 

    .whatwedo {
        padding: 40px 0;

        &__item {

            .icon {
                width: 80px;
                height: 80px;
                font-size: 35px;
                line-height: 80px;

                .number {
                    right: -5px;
                    width: 20px;
                    height: 20px;
                    font-size: 8px;
                    line-height: 20px;
                }
            }
        }
    }

    .recentworks {
        padding: 40px 0;

        .entry-title {

            .button {
                margin-top: 15px;
            }
        }

        .slyslider {

            &__item {
                max-width: 440px;
            }
        }
    }

    .faqs {
        padding: 40px 0;
    }

    #accordion {

        .card {
            margin-bottom: 30px;

            .card-header {
                padding: 0 40px 15px 0;
            }

            .card-body {
                padding: 0 0 20px;
            }
        }
    }

    /***********************************
    PORTFOLIO STYLES
    ***********************************/
    .filterbox {

        &__form {

            .form-group {
                margin-bottom: 15px;
            }

            [class^="col"] {

                &:last-child {

                    .form-group {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .portfolio {
        padding: 40px 0;

        &__item {

            .media {
                border-radius: 16px;
            }
        }
    }

    /***********************************
    CONTACT STYLES
    ***********************************/
    .contact {
        padding: 40px 0;
    }

    /***********************************
    FOOTER STYLES
    ***********************************/
    .callaction {

        &__content {

            .title {
                margin-bottom: 5px;
            }
        }

        &__background {
            padding: 40px 30px;
        }
    }

    .footer {
        padding-top: 40px;

        .social-media {
            margin-top: 20px;
        }
    }

    /***********************************
    DEFAULT STYLES
    ***********************************/
    .slyslider {

        &__controls {

            .slyslider__control {
                width: 50px;
                height: 50px;
                font-size: 14px;
                line-height: 50px;
            }
        }
    }

    .page-header {
        padding-top: 100px;
        padding-bottom: 40px;
    }
    
}/* 575 */

@media only screen and (max-width: 480px) {

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .navbar {

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-nav-right) {
                        display: none;
                    }

                    &.navbar-nav-right {

                        > li {

                            &:nth-child(2) {

                                &:not(.mobile-navbar-toggler) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /***********************************
    HOME STYLES
    ***********************************/
    .recentworks {

        .slyslider {

            &__item {
                max-width: 340px;
            }
        }
    }
   
    /***********************************
    DEFAULT STYLES
    ***********************************/
    .page-header {
        padding-top: 80px;
    }

}/* 480 */

@media only screen and (max-width: 380px) {

    /***********************************
    HOME STYLES
    ***********************************/
    .recentworks {

        .slyslider {

            &__item {
                max-width: 300px;
            }
        }
    }
    
}/* 380 */