/*** Font Family */
@font-face {
    font-family: 'Morganite';
    src: url('fonts/Morganite-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('fonts/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Morganite';
    src: url('fonts/Morganite-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/*** Icon */
@font-face {
	font-family: 'gheny';
	src: url('fonts/gheny.eot?97785646');
	src: url('fonts/gheny.eot?97785646#iefix') format('embedded-opentype'),
	 	url('fonts/gheny.woff2?97785646') format('woff2'),
		url('fonts/gheny.woff?97785646') format('woff'),
	 	url('fonts/gheny.ttf?97785646') format('truetype'),
	 	url('fonts/gheny.svg?97785646#gheny') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	speak: none;
	line-height: 1;
	font-family: 'gheny';
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
	speak: none;
	line-height: 1;
	font-family: 'gheny';
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-caret-right:before { content: '\e800'; }
.icon-cart-plus:before { content: '\e801'; }
.icon-receipt:before { content: '\e802'; }
.icon-refresh:before { content: '\e803'; }
.icon-reddit:before { content: '\e804'; }
.icon-messenger:before { content: '\e805'; }
.icon-heart-alt:before { content: '\e806'; }
.icon-linkedin-in:before { content: '\e807'; }
.icon-caret-left:before { content: '\e808'; }
.icon-message:before { content: '\e809'; }
.icon-caret-up:before { content: '\e80a'; }
.icon-notification:before { content: '\e80b'; }
.icon-close:before { content: '\e80c'; }
.icon-credit-card:before { content: '\e80d'; }
.icon-dashboard:before { content: '\e80e'; }
.icon-download:before { content: '\e80f'; }
.icon-eye:before { content: '\e810'; }
.icon-facebook:before { content: '\e811'; }
.icon-flag:before { content: '\e812'; }
.icon-flickr:before { content: '\e813'; }
.icon-heart:before { content: '\e814'; }
.icon-instagram:before { content: '\e815'; }
.icon-logout:before { content: '\e816'; }
.icon-github:before { content: '\e817'; }
.icon-telegram:before { content: '\e818'; }
.icon-search:before { content: '\e819'; }
.icon-shirt:before { content: '\e81a'; }
.icon-shopping:before { content: '\e81b'; }
.icon-star:before { content: '\e81c'; }
.icon-twitter:before { content: '\e81d'; }
.icon-user:before { content: '\e81e'; }
.icon-youtube:before { content: '\e81f'; }
.icon-address-book:before { content: '\e820'; }
.icon-arrow-down:before { content: '\e821'; }
.icon-arrow-left:before { content: '\e822'; }
.icon-arrow-right:before { content: '\e823'; }
.icon-arrow-up:before { content: '\e824'; }
.icon-book:before { content: '\e825'; }
.icon-caret-down:before { content: '\e826'; }
.icon-plus:before { content: '\e827'; }
.icon-heart-1:before { content: '\e828'; }
.icon-quote-left:before { content: '\e829'; }
.icon-quote-right:before { content: '\e82a'; }
.icon-block:before { content: '\e82b'; }
.icon-login:before { content: '\e82c'; }
.icon-attention-circled:before { content: '\e82d'; }
.icon-minus:before { content: '\e831'; }
.icon-vkontakte:before { content: '\f189'; }
.icon-qq:before { content: '\f1d6'; }
.icon-wechat:before { content: '\f1d7'; }
.icon-pinterest:before { content: '\f231'; }
.icon-whatsapp:before { content: '\f232'; }
.icon-snapchat:before { content: '\f2ac'; }
.icon-quora:before { content: '\f2c4'; }
.icon-sina:before { content: '\f33f'; }